 <div class="container"  ng-controller="RegistrationController as registration">
     <div class="row">
    <h3>change your password Here </h3>

    <form name="registrationForm" novalidate 
          ng-submit="validate(registrationForm.$valid)">
       <fieldset>
       <div class=" col-sm-12 col-lg-8 col-md-6 form-group col-xs-12 " >
            <label>Enter your Email Id</label>
            <input type="text" name="username" class="form-control" ng-model="registration.user.username" required />
            <div ng-messages="registrationForm.username.$error" ng-messages-include="messages.html"></div>
        </div>
        
        <div class="   col-sm-12 col-lg-8 col-md-6 form-group col-xs-12 ">
            <label>Enter your new password</label>
            <input type="password" name="password" class="form-control" ng-model="registration.user.password" required />
            <div ng-messages="registrationForm.password.$error" ng-messages-include="messages.html"></div>
        </div>
   
        <div class=" col-sm-12 form-group col-lg-8 col-md-6 col-xs-12 ">
            <label>Confirm your Password</label>
            <input type="password" name="confirmPassword" class="form-control" 
                   ng-model="registration.user.confirmPassword" 
                   required compare-to="registration.user.password" />
            <div ng-messages="registrationForm.confirmPassword.$error" ng-messages-include="messages.html"></div>
        </div> 
        <div class="  col-sm-12 col-lg-8 col-xs-12 col-md-6  form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="!registrationForm.$valid" >Submit!</button>
        </div>
    </form> 
    </div>